In [6]:
def func(a, b):
    return b if a == 0 else func(b % a, a)

print(func(30, 75))

15

In [7]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [8]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)

In [10]:
sorted_numbers

[2, 4, 7, 19, 22, 45, 72, 89]

In [15]:
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [14]:
even_numbers

In [23]:
set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3 = {99,22,17}

print(len(set1+set2+set3))    #In Python, you cannot use the + operator to concatenate sets, as you can with lists or strings. 
                              #Sets do not support the + operator because they are unordered collections of unique elements

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [19]:
set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3 = {99,22,17}

print(len(set1|set2|set3))       #To combine sets, you should use the union operator (|) or the union() method. 
                                 #Here's how you can get the length of the union of set1, set2, and set3:

9

In [24]:
print(4**3 + (7 + 5)**(1 + 1))

208

In [25]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", }

In [26]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [27]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", "Discovery": "unknown"}

In [28]:
captains

{'Enterprise': 'Picard',
 'Voyager': 'Janeway',
 'Defiant': 'Sisko',
 'Discovery': 'unknown'}

In [29]:
captains["Discovery"].pop()    #wrong syntax --- it will be --- captains.pop("Discovery")

AttributeError: 'str' object has no attribute 'pop'

In [30]:
del captains["Discovery"]

In [31]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [ ]:
# Regular Expression: 

Regular Expression is a powerful tools for pattern matching and text manipulation, they provide a concise and flexible 
way to search, extract and manipulate string of text based on specific patterns.

However, Regular expression can be complex and tricky to work with, especially for complex pattern. it essential to understand
the syntax and behaviour of regular expression before using them. Python re modules provides a set of functions and methods
to work with regular expression such as search(), match(), findall(), and sub() which make it easier to leverage their
power within your Python code.

Also Regex are instrumental in extracting information from text such as long files, spreadsheet, or even textual documents.
Regex are used in various task such as data preprocessing rule based information minning system, pattern matching, text feature 
engineering, web scraping, data extraction etc.

for example:
Searching and replacing text in files.
Validating text input, such as password and email address.
Rename a hundred files at a time, for example you can change the extension of all files using a RegEx patterns.

functions: Findall--- returns a list containing all matches search --- returns a match objects if there is a match anywhere

in the string split. Returns a list where the string has been split at each match.

substitute --- Replaces one or many matches with a string

Findall --- matching a specific word


findall
search
split
substitute

In [ ]:
# FindAll

In [34]:
import re

pattern = 'Data science'
text = 'Data science is a stream and it is a part of AI you can solve many complex problem using Data science'


matches = re.findall(pattern,text)

print(matches)

['Data science', 'Data science']

In [35]:
len(matches)

2

In [ ]:
Extracting digit from a string:

This code finds all sequences of digit within the text it will print ['123', '456'].

In [36]:
pattern = '\d+'
text = 'There are 123 apple and 456 oranges.'

matches = re.findall(pattern,text)

print(matches)

['123', '456']

In [37]:
# Extracting digits from a lsit of string
price = ['Apple costs Rs 50', 'Rs 60 for each pineapple', 'Rs 150 per watermelon']
for msg in price:
    matches = re.findall('\d+', msg)
    print(matches)

['50']
['60']
['150']

In [ ]:
# Search

In [38]:
text = 'india china usa'
x = re.search('india',text)    # it will give 'india' starting index and ending index (0,5)

print(x)

<re.Match object; span=(0, 5), match='india'>

In [39]:
msges = ['Bananas are not only very delicious pieces of fruit',
        'they are also super healthy.',
        'Eating two bananas a day can do wonders for your health',
        'for example. but did you ever think of sticking a needle into a banana? probably not.',
        'but you should, because it is super handy!']

for msg in msges:
    search = re.search('banana',msg)
    print(search)

None
None
<re.Match object; span=(11, 17), match='banana'>
<re.Match object; span=(64, 70), match='banana'>
None

In [40]:
# msg1 = 'This product is really great'
# msg2 = 'This product is really great right'      # starting should be 'This' and ending 'Great'

msg1 = 'This product is really Great'

search = re.search('^This.*Great$', msg1)

print(search)

<re.Match object; span=(0, 28), match='This product is really Great'>

In [ ]:
#Split

In [41]:
# split at each white-space charecter(\s is split by space)
text = 'India is a beautiful country'

x = re.split('\s', text)

print(x)

['India', 'is', 'a', 'beautiful', 'country']

In [42]:
# start splitting by position
splitbyposition = 'How is this possible'
x = re.split('\s', splitbyposition, 2)   # split untill index 2

print(x)

['How', 'is', 'this possible']

In [ ]:
# Substitute

In [43]:
sub = 'This function replaces spaces by assigned char'
x = re.sub('\s', '&', sub)

print(x)

This&function&replaces&spaces&by&assigned&char

In [44]:
y = 'Rs'
z = r'[oe]'

text = 'This item costs Rs 2500'
 
replacetext = re.sub(y, '$', text)

print(replacetext)

This item costs $ 2500

In [45]:
y = 'Rs'
z = r'[oe]'

text = 'This item costs Rs 2500'

replacetext = re.sub(z, '$', text)

print(replacetext)

This it$m c$sts Rs 2500

In [46]:
import re

In [47]:
import regex as re

In [48]:
print(help(re))

Help on package regex:

NAME
    regex - Support for regular expressions (RE).

DESCRIPTION
    This module provides regular expression matching operations similar to those
    found in Perl. It supports both 8-bit and Unicode strings; both the pattern and
    the strings being processed can contain null bytes and characters outside the
    US ASCII range.

    Regular expressions can contain both special and ordinary characters. Most
    ordinary characters, like "A", "a", or "0", are the simplest regular
    expressions; they simply match themselves. You can concatenate ordinary
    characters, so last matches the string 'last'.

    There are a few differences between the old (legacy) behaviour and the new
    (enhanced) behaviour, which are indicated by VERSION0 or VERSION1.

    The special characters are:
        "."                 Matches any character except a newline.
        "^"                 Matches the start of the string.
        "$"                 Matches the end of the string or just before the
                            newline at the end of the string.
        "*"                 Matches 0 or more (greedy) repetitions of the preceding
                            RE. Greedy means that it will match as many repetitions
                            as possible.
        "+"                 Matches 1 or more (greedy) repetitions of the preceding
                            RE.
        "?"                 Matches 0 or 1 (greedy) of the preceding RE.
        *?,+?,??            Non-greedy versions of the previous three special
                            characters.
        *+,++,?+            Possessive versions of the previous three special
                            characters.
        {m,n}               Matches from m to n repetitions of the preceding RE.
        {m,n}?              Non-greedy version of the above.
        {m,n}+              Possessive version of the above.
        {...}               Fuzzy matching constraints.
        "\\"                Either escapes special characters or signals a special
                            sequence.
        [...]               Indicates a set of characters. A "^" as the first
                            character indicates a complementing set.
        "|"                 A|B, creates an RE that will match either A or B.
        (...)               Matches the RE inside the parentheses. The contents are
                            captured and can be retrieved or matched later in the
                            string.
        (?flags-flags)      VERSION1: Sets/clears the flags for the remainder of
                            the group or pattern; VERSION0: Sets the flags for the
                            entire pattern.
        (?:...)             Non-capturing version of regular parentheses.
        (?>...)             Atomic non-capturing version of regular parentheses.
        (?flags-flags:...)  Non-capturing version of regular parentheses with local
                            flags.
        (?P<name>...)       The substring matched by the group is accessible by
                            name.
        (?<name>...)        The substring matched by the group is accessible by
                            name.
        (?P=name)           Matches the text matched earlier by the group named
                            name.
        (?#...)             A comment; ignored.
        (?=...)             Matches if ... matches next, but doesn't consume the
                            string.
        (?!...)             Matches if ... doesn't match next.
        (?<=...)            Matches if preceded by ....
        (?<!...)            Matches if not preceded by ....
        (?(id)yes|no)       Matches yes pattern if group id matched, the (optional)
                            no pattern otherwise.
        (?(DEFINE)...)      If there's no group called "DEFINE", then ... will be
                            ignored, but any group definitions will be available.
        (?|...|...)         (?|A|B), creates an RE that will match either A or B,
                            but reuses capture group numbers across the
                            alternatives.
        (*FAIL)             Forces matching to fail, which means immediate
                            backtracking.
        (*F)                Abbreviation for (*FAIL).
        (*PRUNE)            Discards the current backtracking information. Its
                            effect doesn't extend outside an atomic group or a
                            lookaround.
        (*SKIP)             Similar to (*PRUNE), except that it also sets where in
                            the text the next attempt at matching the entire
                            pattern will start. Its effect doesn't extend outside
                            an atomic group or a lookaround.

    The fuzzy matching constraints are: "i" to permit insertions, "d" to permit
    deletions, "s" to permit substitutions, "e" to permit any of these. Limits are
    optional with "<=" and "<". If any type of error is provided then any type not
    provided is not permitted.

    A cost equation may be provided.

    Examples:
        (?:fuzzy){i<=2}
        (?:fuzzy){i<=1,s<=2,d<=1,1i+1s+1d<3}

    VERSION1: Set operators are supported, and a set can include nested sets. The
    set operators, in order of increasing precedence, are:
        ||  Set union ("x||y" means "x or y").
        ~~  (double tilde) Symmetric set difference ("x~~y" means "x or y, but not
            both").
        &&  Set intersection ("x&&y" means "x and y").
        --  (double dash) Set difference ("x--y" means "x but not y").

    Implicit union, ie, simple juxtaposition like in [ab], has the highest
    precedence.

    VERSION0 and VERSION1:
    The special sequences consist of "\\" and a character from the list below. If
    the ordinary character is not on the list, then the resulting RE will match the
    second character.
        \number         Matches the contents of the group of the same number if
                        number is no more than 2 digits, otherwise the character
                        with the 3-digit octal code.
        \a              Matches the bell character.
        \A              Matches only at the start of the string.
        \b              Matches the empty string, but only at the start or end of a
                        word.
        \B              Matches the empty string, but not at the start or end of a
                        word.
        \d              Matches any decimal digit; equivalent to the set [0-9] when
                        matching a bytestring or a Unicode string with the ASCII
                        flag, or the whole range of Unicode digits when matching a
                        Unicode string.
        \D              Matches any non-digit character; equivalent to [^\d].
        \f              Matches the formfeed character.
        \g<name>        Matches the text matched by the group named name.
        \G              Matches the empty string, but only at the position where
                        the search started.
        \h              Matches horizontal whitespace.
        \K              Keeps only what follows for the entire match.
        \L<name>        Named list. The list is provided as a keyword argument.
        \m              Matches the empty string, but only at the start of a word.
        \M              Matches the empty string, but only at the end of a word.
        \n              Matches the newline character.
        \N{name}        Matches the named character.
        \p{name=value}  Matches the character if its property has the specified
                        value.
        \P{name=value}  Matches the character if its property hasn't the specified
                        value.
        \r              Matches the carriage-return character.
        \s              Matches any whitespace character; equivalent to
                        [ \t\n\r\f\v].
        \S              Matches any non-whitespace character; equivalent to [^\s].
        \t              Matches the tab character.
        \uXXXX          Matches the Unicode codepoint with 4-digit hex code XXXX.
        \UXXXXXXXX      Matches the Unicode codepoint with 8-digit hex code
                        XXXXXXXX.
        \v              Matches the vertical tab character.
        \w              Matches any alphanumeric character; equivalent to
                        [a-zA-Z0-9_] when matching a bytestring or a Unicode string
                        with the ASCII flag, or the whole range of Unicode
                        alphanumeric characters (letters plus digits plus
                        underscore) when matching a Unicode string. With LOCALE, it
                        will match the set [0-9_] plus characters defined as
                        letters for the current locale.
        \W              Matches the complement of \w; equivalent to [^\w].
        \xXX            Matches the character with 2-digit hex code XX.
        \X              Matches a grapheme.
        \Z              Matches only at the end of the string.
        \\              Matches a literal backslash.

    This module exports the following functions:
        match      Match a regular expression pattern at the beginning of a string.
        fullmatch  Match a regular expression pattern against all of a string.
        search     Search a string for the presence of a pattern.
        sub        Substitute occurrences of a pattern found in a string using a
                   template string.
        subf       Substitute occurrences of a pattern found in a string using a
                   format string.
        subn       Same as sub, but also return the number of substitutions made.
        subfn      Same as subf, but also return the number of substitutions made.
        split      Split a string by the occurrences of a pattern. VERSION1: will
                   split at zero-width match; VERSION0: won't split at zero-width
                   match.
        splititer  Return an iterator yielding the parts of a split string.
        findall    Find all occurrences of a pattern in a string.
        finditer   Return an iterator yielding a match object for each match.
        compile    Compile a pattern into a Pattern object.
        purge      Clear the regular expression cache.
        escape     Backslash all non-alphanumerics or special characters in a
                   string.

    Most of the functions support a concurrent parameter: if True, the GIL will be
    released during matching, allowing other Python threads to run concurrently. If
    the string changes during matching, the behaviour is undefined. This parameter
    is not needed when working on the builtin (immutable) string classes.

    Some of the functions in this module take flags as optional parameters. Most of
    these flags can also be set within an RE:
        A   a   ASCII         Make \w, \W, \b, \B, \d, and \D match the
                              corresponding ASCII character categories. Default
                              when matching a bytestring.
        B   b   BESTMATCH     Find the best fuzzy match (default is first).
        D       DEBUG         Print the parsed pattern.
        E   e   ENHANCEMATCH  Attempt to improve the fit after finding the first
                              fuzzy match.
        F   f   FULLCASE      Use full case-folding when performing
                              case-insensitive matching in Unicode.
        I   i   IGNORECASE    Perform case-insensitive matching.
        L   L   LOCALE        Make \w, \W, \b, \B, \d, and \D dependent on the
                              current locale. (One byte per character only.)
        M   m   MULTILINE     "^" matches the beginning of lines (after a newline)
                              as well as the string. "$" matches the end of lines
                              (before a newline) as well as the end of the string.
        P   p   POSIX         Perform POSIX-standard matching (leftmost longest).
        R   r   REVERSE       Searches backwards.
        S   s   DOTALL        "." matches any character at all, including the
                              newline.
        U   u   UNICODE       Make \w, \W, \b, \B, \d, and \D dependent on the
                              Unicode locale. Default when matching a Unicode
                              string.
        V0  V0  VERSION0      Turn on the old legacy behaviour.
        V1  V1  VERSION1      Turn on the new enhanced behaviour. This flag
                              includes the FULLCASE flag.
        W   w   WORD          Make \b and \B work with default Unicode word breaks
                              and make ".", "^" and "$" work with Unicode line
                              breaks.
        X   x   VERBOSE       Ignore whitespace and comments for nicer looking REs.

    This module also defines an exception 'error'.

PACKAGE CONTENTS
    _regex
    _regex_core
    regex
    test_regex

CLASSES
    builtins.Exception(builtins.BaseException)
        regex._regex_core.error
    builtins.object
        _regex.Match
        _regex.Pattern
        regex._regex_core.Scanner
    enum.IntFlag(builtins.int, enum.Flag)
        regex._regex_core.RegexFlag

    class Match(builtins.object)
     |  Match object
     |
     |  Methods defined here:
     |
     |  __copy__(...)
     |
     |  __deepcopy__(...)
     |
     |  __getitem__(...)
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  captures(...)
     |      captures([group1, ...]) --> list of strings or tuple of list of strings.
     |      Return the captures of one or more subgroups of the match.  If there is a
     |      single argument, the result is a list of strings; if there are multiple
     |      arguments, the result is a tuple of lists with one item per argument; if
     |      there are no arguments, the captures of the whole match is returned.  Group
     |      0 is the whole match.
     |
     |  capturesdict(...)
     |      capturesdict() --> dict.
     |      Return a dictionary containing the captures of all the named subgroups of the
     |      match, keyed by the subgroup name.
     |
     |  detach_string(...)
     |      detach_string()
     |      Detaches the target string from the match object. The 'string' attribute
     |      will become None.
     |
     |  end(...)
     |      end([group1, ...]) --> int or tuple of ints.
     |      Return the index of the end of one or more subgroups of the match.  If there
     |      is a single argument, the result is an index, or -1 if the group did not
     |      contribute to the match; if there are multiple arguments, the result is a
     |      tuple with one item per argument; if there are no arguments, the index of
     |      the end of the whole match is returned.  Group 0 is the whole match.
     |
     |  ends(...)
     |      ends([group1, ...]) --> list of ints or tuple of list of ints.
     |      Return the indices of the ends of the captures of one or more subgroups of
     |      the match.  If there is a single argument, the result is a list of indices;
     |      if there are multiple arguments, the result is a tuple of lists with one
     |      item per argument; if there are no arguments, the indices of the ends of the
     |      captures of the whole match is returned.  Group 0 is the whole match.
     |
     |  expand(...)
     |      expand(template) --> string.
     |      Return the string obtained by doing backslash substitution on the template,
     |      as done by the sub() method.
     |
     |  expandf(...)
     |      expandf(format) --> string.
     |      Return the string obtained by using the format, as done by the subf()
     |      method.
     |
     |  group(...)
     |      group([group1, ...]) --> string or tuple of strings.
     |      Return one or more subgroups of the match.  If there is a single argument,
     |      the result is a single string, or None if the group did not contribute to
     |      the match; if there are multiple arguments, the result is a tuple with one
     |      item per argument; if there are no arguments, the whole match is returned.
     |      Group 0 is the whole match.
     |
     |  groupdict(...)
     |      groupdict(default=None) --> dict.
     |      Return a dictionary containing all the named subgroups of the match, keyed
     |      by the subgroup name.  The argument is the value to be given for groups that
     |      did not participate in the match.
     |
     |  groups(...)
     |      groups(default=None) --> tuple of strings.
     |      Return a tuple containing all the subgroups of the match.  The argument is
     |      the default for groups that did not participate in the match.
     |
     |  span(...)
     |      span([group1, ...]) --> 2-tuple of int or tuple of 2-tuple of ints.
     |      Return the span (a 2-tuple of the indices of the start and end) of one or
     |      more subgroups of the match.  If there is a single argument, the result is a
     |      span, or (-1, -1) if the group did not contribute to the match; if there are
     |      multiple arguments, the result is a tuple with one item per argument; if
     |      there are no arguments, the span of the whole match is returned.  Group 0 is
     |      the whole match.
     |
     |  spans(...)
     |      spans([group1, ...]) --> list of 2-tuple of ints or tuple of list of 2-tuple of ints.
     |      Return the spans (a 2-tuple of the indices of the start and end) of the
     |      captures of one or more subgroups of the match.  If there is a single
     |      argument, the result is a list of spans; if there are multiple arguments,
     |      the result is a tuple of lists with one item per argument; if there are no
     |      arguments, the spans of the captures of the whole match is returned.  Group
     |      0 is the whole match.
     |
     |  start(...)
     |      start([group1, ...]) --> int or tuple of ints.
     |      Return the index of the start of one or more subgroups of the match.  If
     |      there is a single argument, the result is an index, or -1 if the group did
     |      not contribute to the match; if there are multiple arguments, the result is
     |      a tuple with one item per argument; if there are no arguments, the index of
     |      the start of the whole match is returned.  Group 0 is the whole match.
     |
     |  starts(...)
     |      starts([group1, ...]) --> list of ints or tuple of list of ints.
     |      Return the indices of the starts of the captures of one or more subgroups of
     |      the match.  If there is a single argument, the result is a list of indices;
     |      if there are multiple arguments, the result is a tuple of lists with one
     |      item per argument; if there are no arguments, the indices of the starts of
     |      the captures of the whole match is returned.  Group 0 is the whole match.
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  __class_getitem__(...) from builtins.type
     |      See PEP 585
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  endpos
     |      The final position beyond which the regex engine won't search.
     |
     |  fuzzy_changes
     |      A tuple of the positions of the substitutions, insertions and deletions.
     |
     |  fuzzy_counts
     |      A tuple of the number of substitutions, insertions and deletions.
     |
     |  lastgroup
     |      The name of the last matched capturing group, or None.
     |
     |  lastindex

In [53]:
for i in dir(re):
    print(i,end=",")

A,ASCII,B,BESTMATCH,D,DEBUG,DEFAULT_VERSION,DOTALL,E,ENHANCEMATCH,F,FULLCASE,I,IGNORECASE,L,LOCALE,M,MULTILINE,Match,P,POSIX,Pattern,R,REVERSE,Regex,RegexFlag,S,Scanner,T,TEMPLATE,U,UNICODE,V0,V1,VERBOSE,VERSION0,VERSION1,W,WORD,X,__all__,__builtins__,__cached__,__doc__,__file__,__loader__,__name__,__package__,__path__,__spec__,__version__,_regex,_regex_core,cache_all,compile,error,escape,findall,finditer,fullmatch,match,purge,regex,search,split,splititer,sub,subf,subfn,subn,template,

In [54]:
print(len(dir(re)))

71

In [ ]:
Meta-character are special character with a special meaning that affect how the Regex around them are interpreted.
meta character dont match themselves, instead they indicate that some rules characters or sign like |,+ or * are special
characters.for Exp caret(^) meta character used to match the RegEx patterns only at the start of the string.

Meta characters also called as operators, sign, or symbols.

In [ ]:
.(DOT)--- Matches any characters excepts new line characters
^(Caret)--- Matches pattern only at the start of the string(starts with)
$(Dollar)--- Matches patterns at the end of the string(ends with)
*(asterisk)--- Matches 0 or more repetitions of the RegEx (zero or more occurances)
+(Plus)--- Matches 1 or more repetitions of the RegEx(one or more occurances)

In [ ]:
1.Kbps = kilo bits per second
2.Gbps = Giga bits per second
3.KBps = kilo bytes per second

small 'b'   = unit of memory (Lowest unit of memory)
capital 'B' = Bytes

1B = 8bits

In [56]:
'data'*3

'datadatadata'

In [57]:
'data'+'science'

'datascience'

In [ ]:
Findall --- the findall() scans the target string from left to right as per the regular expression pattern and returns all 
matches in the order they were found.

it returns None if it falls to locate the occurances of the pattern or such a pattern does not exist in a target string.

syntax: re.findall(pattern, target_string)

In [ ]:
Matching a specific word

In [58]:
import re
pattern = 'data Science|Data Science'

text = 'Data Science is a stream and it is a part of AI. you can solve many complex problem using data Science tools and techs'

matches = re.findall(pattern, text)
print(matches)

['Data Science', 'data Science']

In [60]:
import re
pattern = 'Data Science|stream|tools|AI'

text = 'Data Science is a stream and it is a part of AI. you can solve many complex problem using Data Science tools and techs'

matches = re.findall(pattern, text)
print(matches)

['Data Science', 'stream', 'AI', 'Data Science', 'tools']

In [ ]:
Extracting digits from a string:
This code finds all sequences of digits within the text, it will print ['123','456'] checking character by character

In [65]:
pattern = '\d+'

text = '''India 10-1year bond yield hits 28 month low after fed hints at Sep rate cut.
Indian government bond yields fell to a 28-month low after U.S yields following Federal Reserve dovish comments.
The 10-year yield dropped to 6.9045%, its lowest since April 2022. U.S Investor expect rate cuts next year.'''

matches = re.findall(pattern, text)
print(matches)

['10', '1', '28', '28', '10', '6', '9045', '2022']

In [68]:
pattern = '\d+'
text = 'There are 123 apple and 456 oranges.'

matches = re.findall(pattern,text)

print(matches)

['123', '456']

In [69]:
pattern = '123|456'
text = 'There are 123 apple and 456 oranges.'

matches = re.findall(pattern,text)

print(matches)

['123', '456']

In [70]:
pattern = '[0-9]'
text = 'There are 123 apple and 456 oranges.'

matches = re.findall(pattern,text)

print(matches)

['1', '2', '3', '4', '5', '6']

In [72]:
pattern = '[0-9]+'
text = 'There are 123 apple and 456 oranges.'

matches = re.findall(pattern,text)

print(matches)

['123', '456']

In [74]:
pattern = '[0126]'
text = 'There are 123 apple and 456 oranges.'

matches = re.findall(pattern,text)

print(matches)

['1', '2', '6']

In [75]:
pattern = '\D+'            # "D" it will fetch anything except numbers
text = 'There are 123 apple and 456 oranges. @#'

matches = re.findall(pattern,text)

print(matches)

['There are ', ' apple and ', ' oranges. @#']

In [77]:
# Extracting digits from a lsit of string
price = ['Apple costs Rs 50', 'Rs 60 for each pineapple', 'Rs 120 per watermelon']
for msg in price:
    matches = re.findall('\d+', msg)
    print(matches)

['50']
['60']
['120']

In [78]:
target_string = 'APJ Abdul Kalam was an Indian aerospace scientist also known as the Missile Man of India #@,'

result = re.findall(r"\w{4}", target_string)

print("Match object:", result)

Match object: ['Abdu', 'Kala', 'Indi', 'aero', 'spac', 'scie', 'ntis', 'also', 'know', 'Miss', 'Indi']

In [81]:
target_string = 'APJ Abdul Kalam was an Indian aerospace scientist also known as the Missile123456 12kja_President Man of India trignometry'

result = re.findall(r"\w{11}", target_string)

print("Match object:", result)

Match object: ['Missile1234', '12kja_Presi', 'trignometry']

In [82]:
target_string = 'APJ Abdul Kalam was an Indian aerospace scientist also known as the Missilesdgfhg Man of India'

result = re.findall(r"\w{4,6}", target_string)

print("Match object:", result)

Match object: ['Abdul', 'Kalam', 'Indian', 'aerosp', 'scient', 'also', 'known', 'Missil', 'esdgfh', 'India']

In [86]:
pattern = '[a-z,A-Z,0-9]+'

text = 'My name is Ali and my date of birth is 05 jan 1991' 

matches = re.findall(pattern, text)

print(matches)

['My', 'name', 'is', 'Ali', 'and', 'my', 'date', 'of', 'birth', 'is', '05', 'jan', '1991']

In [116]:
pattern = 'ab*'                             # Matches: 'a' followed by zero or more 'b's
test_strings = 'a ab abb abbb' 


# Matches: 'a' followed by two 'b's
# Matches: 'a' followed by three 'b's
# Does not match: does not start with 'a'
# Does not match: 'a' followed by 'a'
# Does not match: two 'a's

matches = re.findall(pattern,test_strings)

print(matches)

['a', 'ab', 'abb', 'abbb']

In [117]:
pattern = 'ab*'                               # Matches: 'a' followed by one or more 'b's
test_strings = 'ab abb abbb'

matches = re.findall(pattern,test_strings)

print(matches)

['ab', 'abb', 'abbb']

In [119]:
pattern = 'ab*'                               # Matches: 'a' followed by zero or one 'b'
test_strings = 'a ab'

matches = re.findall(pattern,test_strings)

print(matches)

['a', 'ab']

In [127]:
pattern = 'ab*'                               # Matches: 'a' followed by three 'b'
test_strings = 'abbb w re r ewe'

matches = re.findall(pattern,test_strings)

print(matches)

['abbb']

In [139]:
pattern = 'ab*'                               # Matches: 'a' followed by two to three 'b'   
test_strings = 'abb wed re r abbb'

matches = re.findall(pattern,test_strings)

print(matches)

['abb', 'abbb']

In [227]:
pattern =  'a[\w@,]+b'                              # Matches: 'a' followed by anything ending with 'b' 'A[\w@,]+j|A[\w*]+1'
text = 'acb a12_3b Ab ah@,gvjb  ac88fdfb Aweer@b fgghb adr45'

matches = re.findall(pattern, text)

print('match found:',  matches)

match found: ['acb', 'a12_3b', 'ah@,gvjb', 'ac88fdfb']

In [211]:
string = 'acb a765b ab ahgfd12@,b'
pattern = 'a[\w@,]+b'

result = re.findall(pattern, string)

print('Match found:', result)

Match found: ['acb', 'a765b', 'ahgfd12@,b']

In [163]:
pattern = '^\w+'                           # it will match the word at begining (a-z, A-Z, 0-9, '_' )

text = 'Hello _999 Today is the most66 Beautiful_day'

matches = re.findall(pattern, text)

print(matches)

['Hello']

In [164]:
pattern = '\w+$'                           # it will match the word at the end (a-z, A-Z, 0-9, '_' )

text = 'Hello _999 Today is the most66 Beautiful_day'

matches = re.findall(pattern, text)

print(matches)

['Beautiful_day']

In [196]:
pattern = '\w{4}'                            # it will match the word upto 4 character as per condition{4} except special char
target_string = 'what is your Name please Answer123 quickly 1235@.'

matches = re.findall(pattern, target_string)

print(matches)

['what', 'your', 'Name', 'plea', 'Answ', 'er12', 'quic', '1235']

In [193]:
pattern = '\w{4}'                            # it will matches anything except any special char like @#$& 
target_string = '01 0132 231875 1458 301 2725@.'

matches = re.findall(pattern, target_string)

print('Match object:',  matches)

Match object: ['0132', '2318', '1458', '2725']

In [177]:
target_string = '01 0132 231875 14587754 301 2725@.'

result = re.findall(r'\w{4}', target_string)



print('match object:', result)

match object: ['0132', '2318', '1458', '7754', '2725']

In [189]:
target_string = 'APJ Abdul Kalam was an Indian aerospace scientist also known as the Missile Man of India #@,'

result = re.findall(r"\w{4}", target_string)

print("Match object:", result)

Match object: ['Abdu', 'Kala', 'Indi', 'aero', 'spac', 'scie', 'ntis', 'also', 'know', 'Miss', 'Indi']

In [190]:
target_string = 'APJ Abdul Kalam was an Indian aerospace scientist also known as the Missile123456 12kja_President Man of India trignometry'

result = re.findall(r"\w{11}", target_string)

print("Match object:", result)

Match object: ['Missile1234', '12kja_Presi', 'trignometry']

In [191]:
target_string = 'APJ Abdul Kalam was an Indian aerospace scientist also known as the Missilesdgfhg Man of India'

result = re.findall(r"\w{4,6}", target_string)

print("Match object:", result)

Match object: ['Abdul', 'Kalam', 'Indian', 'aerosp', 'scient', 'also', 'known', 'Missil', 'esdgfh', 'India']

In [232]:
#Extracting string which begins with A and ends with j or string begins with A and ends with 1 from the given string
import re
string = 'AP12ik,@j Abdu_*1 kalam Awas@ an indian aerospace scientist'
pattern = 'A[\w@,]+j|A[\w*]+1'

result = re.findall(pattern, string)

print(result)

['AP12ik,@j', 'Abdu_*1']

In [235]:
string = 'aP12ik@j Abdu_*1 kalam Awas@ an indian aerospace scientist'
pattern = 'a[\w@]+j|A[\w*]+1'

result = re.findall(pattern, string)

print(result)

['aP12ik@j', 'Abdu_*1']

In [240]:
string = """As rescue operations entered the fifth day on Saturday, 12
the toll in kerala's worst natural calamity touched 330 with several people still missing 246 after 
the massive landslides and floods at wayanad."""

pattern = '\d+'

result = re.split(pattern, string,2)   # Max split can give 2 3 4 it will split wherever number matches

print(result)

['As rescue operations entered the fifth day on Saturday, ', "\nthe toll in kerala's worst natural calamity touched ", ' with several people still missing 246 after \nthe massive landslides and floods at wayanad.']

In [241]:
string = """As rescue operations entered the fifth day on Saturday, 12
the toll in kerala's worst natural calamity touched 330 with several people still missing 246 after 
the massive landslides and floods at wayanad."""

pattern = '\d+'

result = re.split(pattern, string,3)   # Max split can give 2 3 4 it will split wherever number matches

print(result)

['As rescue operations entered the fifth day on Saturday, ', "\nthe toll in kerala's worst natural calamity touched ", ' with several people still missing ', ' after \nthe massive landslides and floods at wayanad.']

In [242]:
string = """As rescue operations entered the fifth day on Saturday, 12
the toll in kerala's worst natural calamity touched 330 with several people still missing 246 after 
the massive landslides and floods at wayanad."""

pattern = '\d+'

result = re.split(pattern, string,)   # Max split can give 2 3 4 it will split wherever number matches

print(result)

['As rescue operations entered the fifth day on Saturday, ', "\nthe toll in kerala's worst natural calamity touched ", ' with several people still missing ', ' after \nthe massive landslides and floods at wayanad.']

In [244]:
string = 'Twelve:12 Eighty nine:89,'
pattern = '\d+'

result = re.split(pattern, string,)

print(result)

['Twelve:', ' Eighty nine:', ',']

In [245]:
string = 'Twelve:12 Eighty nine:89,'
pattern = '\d+'

result = re.split(pattern, string, 1)

print(result)

['Twelve:', ' Eighty nine:89,']

In [249]:
# split at each white space character (\s is split by white space)
text = 'India is a beautiful country Bharat'
x = re.split('\s', text, 3) 

print(x)

['India', 'is', 'a', 'beautiful country Bharat']

In [247]:
#split by position
split_by_position = 'How is this possible data science position'
x = re.split('\s', split_by_position, 2)

print(x)

['How', 'is', 'this possible data science position']

In [251]:
# split string by three delimiters (- , :) Here we are using 3 delimiter (- , :) and using OR(|) operator 
# to combine two or more pattern, Max limit 2 for split the target string.
target_string = '12,45+78,85-17-89:45'
result = re.split(r"-|,|:", target_string, 2)

print(result)

['12', '45+78', '85-17-89:45']

In [253]:
# Sub(Substitute) : This method is used to find a substring where a regex pattern matches, and then it replaces the matched
# substring with a different string, if the pattern is not found, re.sub() returns the original string.
# syntax = re.sub(pattern, replacement, string, flags)

sub_ = 'This function replaces spaces by assigned char'
x = re.sub('\s', '++', sub_)

print(x)

This++function++replaces++spaces++by++assigned++char

In [254]:
y = 'Rs'
text = 'This item costs Rs 2500 and rs 3000'

replaced_text = re.sub(y, '$', text)

print(replaced_text)

This item costs $ 2500 and rs 3000

In [255]:
y = 'Rs'
text = 'This item costs Rs 2500 and rs 3000'

replaced_text = re.sub(y, '$', text, flags=re.IGNORECASE)   # flags can ignore cases capital or small

print(replaced_text)

This item costs $ 2500 and $ 3000

In [256]:
# Remove all spaces, including single or multiple spaces(pattern to remove '\s+')
target_string = "APJ   Abdul Kalam was      an indian aerospace scientist also known as missile man of india"
res_string = re.sub(r'\s+', "", target_string) 

print(res_string)

APJAbdulKalamwasanindianaerospacescientistalsoknownasmissilemanofindia

In [259]:
# Removing trailing spaces (pattern to remove ending white space and starting white space)
target_string = "        APJ Abdul Kalam was an indian aerospace scientist also known as missile man of india     "
print(target_string)

res_string = re.sub(r'\s+$|^\s+', "", target_string) 

print(res_string)

        APJ Abdul Kalam was an indian aerospace scientist also known as missile man of india
APJ Abdul Kalam was an indian aerospace scientist also known as missile man of india

In [265]:
substitute = re.sub(r'[0-9]+', r'*', 'abc00123xyz456_0')

print(substitute)

abc*xyz*_*

In [266]:
#subn() it is similiar to sub() and used to find a substring where a regex pattern matches,
#and then it replaces the matched substring with a different string along with the number of replacements 
# it will count how many time replacements
substitute_and_count = re.subn(r'[0-9]+', r'*', 'abc001 23xyz456_0#05@26')

print(substitute_and_count)

('abc* *xyz*_*#*@*', 6)

In [267]:
#Match object : Python re.match method looks for the regex pattern only at the begining of the target string and returns match
#objects, if match found, otherwise it will return None.

#Here the result will be None because no 4 digit number is persent at the begining of the string.

target_string = 'Virat is a cricket player 1988 who was born on November 5, 1988'

result = re.match(r'\d{4}', target_string)

print(result)

None

In [269]:
target_string = '2024 Virat is a cricket player 1988 who was born on November 5, 1988'

# match at begining of the string
result = re.match(r'\d{4}', target_string)

print(result)

<re.Match object; span=(0, 4), match='2024'>

In [270]:
target_string = '2024 Virat is a cricket player 1988 who was born on November 5, 1988'
# match at the end
result = re.findall(r'\d{4}', target_string)

print(result)

['2024', '1988', '1988']

In [273]:
target_string = '123abc is an alphanumeric number'

y = re.match("\w+", target_string)

print(y)

<re.Match object; span=(0, 6), match='123abc'>

In [272]:
target_string = '123abc is an alphanumeric @ \n # number'

y = re.match(".+", target_string)

print(y)

<re.Match object; span=(0, 28), match='123abc is an alphanumeric @ '>

In [ ]:
# Search() : Python regex re.search() methods looks for occurances of the regex pattern inside the entire target string 
# and returns the corresponding match objects instance where the match found.

In [274]:
msges = ['Bananas are not only very delicious pieces of fruit',
        'they are also super healthy.',
        'Eating two bananas a day can do wonders for your health',
        'for example. but did you ever think of sticking a needle into a banana? probably not.',
        'but you should, because it is super handy!']

for msg in msges:
    search = re.search('banana',msg)
    print(search)

None
None
<re.Match object; span=(11, 17), match='banana'>
<re.Match object; span=(64, 70), match='banana'>
None

In [275]:
msges = ['20 lakh Bananas are not only very delicious pieces of fruit',
        'they are also super healthy.',
        'Eating two bananas a day can do wonders for your health',
        'for example. 1000 but did you ever think of sticking a needle into a banana? probably not.',
        'but you should, banana because it is super handy!']

for msg in msges:
    search = re.search('\d+|banana', msg)     # it will give result only first instance in the case of search.
    print(search)

<re.Match object; span=(0, 2), match='20'>
None
<re.Match object; span=(11, 17), match='banana'>
<re.Match object; span=(13, 17), match='1000'>
<re.Match object; span=(16, 22), match='banana'>

In [279]:
msges = ['20 lakh Bananas are not only very delicious pieces of 5 fruit',
        'they are also super healthy.',
        'Eating two bananas a day can do wonders for your health',
        'for example. 1000 but did you ever think of sticking a needle into a banana? probably not.',
        'but you should, banana because it is super handy!']

for msg in msges:
    search = re.findall('\d+|banana', msg)     # it will give result all the matches in the case of findall.
    print(search)

['20', '5']
[]
['banana']
['1000', 'banana']
['banana']

In [280]:
msg1 = 'This product is really Great'

search = re.search('^This.*Great$', msg1)

print(search)

<re.Match object; span=(0, 28), match='This product is really Great'>

In [ ]:
#Group in RegEx : A group is a part of regex pattern enclosed in parenthesis () meta char, we create a group by placing the 
regex pattern inside the set of parenthesis and capturing groups are a way to treat multiple char as a single unit.
they are created by placing the charecter to be grouped inside a set of parenthesis().

We can use the group() method to extract each group result separately by specifying a group index in between parenthesis().

please note that unlike string indexing start from 0 but group numbering always start at 1.

In [285]:
target_string = 'Rohit Sharma has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career'

result = re.search(r"(\b\d+).+(\b[A-Z]+\b).+(\b\d+).+(\b[A-Z]+\b)", target_string) # word char starting with digit one or more

print(result)

print(result.group())   # Extract matching values of all groups

print(result.group(1))  # Extract matching values of group 1

print(result.group(2,3))   # Extract matching values of group 2 and group 3

<re.Match object; span=(24, 57), match='43 CENTURIES and 91 HALFCENTURIES'>
43 CENTURIES and 91 HALFCENTURIES
43
('CENTURIES', '91')

In [ ]:
# Regex capture groups multiple times
The search method will return only the first match for each group, but what if a string contains multiple occurances of a 

regex group and you want to extract all matches.

to capture all matches of regex group we need to use finditer() method.

The finditer() methods finds all matches and returns an iterator yielding match object matching the regex pattern.

don't use findall() method

So always use finditer() if you wanted to capture all matches to the group.

In [286]:
target_string = 'Rohit Sharma has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career'

pattern = re.compile(r"(\b\d+\b).(\b[A-Z]+\b)")

#find all matches to groups
for match1 in pattern.finditer(target_string):
    print(match1)
    print(match1.group())
    
    #Extract number
    #print(match1.group(2))

<re.Match object; span=(24, 36), match='43 CENTURIES'>
43 CENTURIES
<re.Match object; span=(41, 57), match='91 HALFCENTURIES'>
91 HALFCENTURIES

In [287]:
# remove all consecutive Duplicates words if any word between duplicates word it will not removed.

string_1 = "Ram went went to to his home"

regex = r'\b(\w+)(?:\W+\1\b)+'

x = re.sub(regex, r'\1', string_1)

print(x)

Ram went to his home

In [ ]:
The details of the above regular expression can be understood as:
    
"\b" : A word boundary Boundaries are needed for special cases for example: "My thesis is great", is won't be matched twice.
        
"\w+" : A word charecter: [a-zA-Z_0-9]
        
"\W+" : A non word character. [^\w]
    
"\1"  : Matches whatever was matched in the first group of parentheses. which in this case is the (\w+)
    
"+"   : Matches whatever it's placed after 1 or more times

In [290]:
with open("/content/url_related.txt") as file:
    for line in file:
        urls = re.findall('(https?://(?:[-\w.]|(?:%[\da-zA-Z0-9]{2}))+', line)
        
        print(urls)

FileNotFoundError: [Errno 2] No such file or directory: '/content/url_related.txt'

In [289]:
with open("/content/url_related.txt") as file:
    for line in file:
        urls = re.findall('(https?://[^\s]+)', line)
        
        print(urls)

FileNotFoundError: [Errno 2] No such file or directory: '/content/url_related.txt'

In [291]:
import pandas as pd
import regex as re

In [ ]:
Pandas Series.str.contains() function is used to test if pattern or regex is contained within a string of a series(column)
or index. The functions return boolean (True/False) series(column) or index based on whether a given pattern or regex is 
contained within a string of a series or index.

syntax: Series.str.contains(pat,case=True, flags=0, na=nan, regex=True)
    
Parameter:
    
pat: character sequence or regular expression
    
case: if True, case sensitive.
    
flags: flags to pass through to the re module, re.IGNORECASE

NA: Fill value for missing values
    
regex: if True assumes the pat is a regular expression.

In [292]:
df = pd.DataFrame({'City':['New york', 'Parague', 'new Delhi', 'Venice', 'new Orleans'],
                  'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                  'Cost': [10000, 5000, 15000, 2000, 12000]})

df

          City        Event   Cost
0     New york        Music  10000
1      Parague       Poetry   5000
2    new Delhi      Theatre  15000
3       Venice       Comedy   2000
4  new Orleans  Tech_Summit  12000

In [293]:
df['City'].str.contains('^N.*', case=False)

0     True
1    False
2     True
3    False
4     True
Name: City, dtype: bool

In [294]:
df['City'].str.contains('^N.*', case=True)

0     True
1    False
2    False
3    False
4    False
Name: City, dtype: bool

In [295]:
df[df['City'].str.contains('^N.*', case=False)==True]

          City        Event   Cost
0     New york        Music  10000
2    new Delhi      Theatre  15000
4  new Orleans  Tech_Summit  12000

In [303]:
df = pd.read_csv('titanic_train')

df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [305]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [306]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# 1.Filtering a DataFrame s.str.contains(pattern)

In [308]:
pattern = r'^W.*n'         # start with capital W and followed by anything but conataining 'n'

mask = df['Name'].str.contains(pattern)

df[mask].head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
58,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S
123,124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,NaN,S

In [309]:
pattern = r'C\.?A\.?'

mask = df['Ticket'].str.contains(pattern)

df[mask].head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.500,NaN,S
56,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.500,NaN,S
58,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.750,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.900,NaN,S
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.500,F33,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.500,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.900,NaN,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.575,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.750,NaN,S

In [ ]:
# 2. Pandas Series.str.extract() : function is used to extract capture groups in the regex pattern as columns in a 
# DataFrame. for each subject string in the series, extract groups from the first match of regular expression.

syntax: Series.str.extract(pat, flags=0, expand=True)
    
expand = if true, return dataframe with one column per capture group

In [310]:
df['Name'].sample(5)

501                        Canavan, Miss. Mary
15            Hewlett, Mrs. (Mary D Kingcome)
850    Andersson, Master. Sigvard Harald Elias
4                     Allen, Mr. William Henry
333            Vander Planke, Mr. Leo Edmondus
Name: Name, dtype: object

In [ ]:
extract all unique titles such as Mr, Mrs, Miss from passenger name

In [313]:
pattern = '\s(\w+)\.'
all_ts = df['Name'].str.extract(pattern, expand= False)

unique_ts = all_ts.value_counts()

unique_ts

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: Name, dtype: int64

In [314]:
df['Name'].head(10)

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [ ]:
# 3. Pandas Series.str.replace() : Function is used to replace each occurance of pattern/regex in the series/index

syntax: Series.str.replace(pat,repl,n=1, case=None, flags=0, regex=True)
    
n: The maximum number of replacements to make. by default there is no limit as to how many replacements are made.
    
replacing value in a column - s.str.replace(pattern, repl)

Replace all the title with capital letters.

In [315]:
pattern = r'\s(\w+)\.'
df['Name'].str.replace(pattern, lambda m:m.group().upper(), regex= True)

0                                Braund, MR. Owen Harris
1      Cumings, MRS. John Bradley (Florence Briggs Th...
2                                 Heikkinen, MISS. Laina
3           Futrelle, MRS. Jacques Heath (Lily May Peel)
4                               Allen, MR. William Henry
                             ...
886                                Montvila, REV. Juozas
887                         Graham, MISS. Margaret Edith
888             Johnston, MISS. Catherine Helen "Carrie"
889                                Behr, MR. Karl Howell
890                                  Dooley, MR. Patrick
Name: Name, Length: 891, dtype: object